/Comp_Mod_interim_Template.docx
/Lattice100Data.dat
/Lattice10Data.dat
/Lattice10Data1.dat
/Lattice10Data2.dat
/Lattice15Data.dat
/Lattice15Data1.dat
/Lattice20Data.dat
/Lattice20Data1.dat
/Lattice25Data.dat
/Lattice30Data.dat
/Lattice30Data1.dat
/Lattice35Data.dat
/Lattice3Data.dat
/Lattice40Data.dat
/Lattice45Data.dat
/Lattice50Data.dat
/Lattice5Data.dat
/Lattice5Data1.dat
/Lattice5Data2.dat
/New Microsoft Word Document.docx
/plot.py
/test.py
/__pycache__